<div class="nested-fields form-group">
  <div class="input-group mb-3">
    <%= f.text_field :content, label: false, class: "form-control", placeholder: "Comment's content" %>
    <div class="input-group-append">
      <%= link_to_remove_association button_tag('Remove', type: "button", class: "btn btn-primary", style: "border-radius: 0px; height: 100%;"), f %>
    </div>
  </div>
</div>
