<div class="nested-fields form-group">
  <div class="form-group-item">
    <%= f.text_area :content, class: "rounded-0", style: "margin-bottom: 5px;" %>
    <strong><%= link_to_remove_association "REMOVE", f %></strong>
  </div>
</div>

 <style>
  html {
    scroll-behavior: smooth;
  }

  .form-group-item {
    position: relative;
    margin-bottom: 50px;
  }

  .form-group-item .remove_fields {
    position: absolute;
    right: 0;
  }
</style>
